<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=<%=ENV['GOOGLE_API_KEY']%>&libraries=places"></script>

<script>
  google.maps.event.addDomListener(window, 'load', initialize);
  function initialize() {
    var input = document.getElementById('address');
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.addListener('place_changed', function () {
      var place = autocomplete.getPlace();
      document.getElementById("latitude").value = place.geometry['location'].lat();
      document.getElementById("longitude").value = place.geometry['location'].lng();
    });
  }
</script>
  
<div>
  <div>
    <h3>Choisir un lieu pour lister les restaurants à proximité</h3>
    <input id="address"/>
    <%= form_with url: 'restaurant', method: :get do |f| %>
      <%= f.hidden_field:latitude, id: :latitude %>
      <%= f.hidden_field:longitude, id: :longitude %>
      <%= button_tag "Lister les restaurants"%> 
    <% end %>
  </div>
  <% if @restaurants_list.present? %>
    <div>
      <h3>Choisir le ou les restaurants de votre choix</h3>
      <ul>
        <% @restaurants_list.each do |restaurant| %> 
          <li>
            <%= restaurant["name"]%>
            <%= restaurant["vicinity"]%>
            <%= "note: #{restaurant["rating"]}"%>
            <%= button_to "+", restaurant_create_path(restaurant)%> 
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @restaurants.present? %>
    <div>
      <h3>Voter le ou les restaurants de votre choix</h3>
        <ul>
          <% @restaurants.each do |restaurant| %> 
            <li>
              <%= restaurant.name%>
              <%= restaurant.address%>
              <%= "note: #{restaurant.rating}"%>
              <%= button_to "vote +", voter_create_path(restaurant), params: { restaurant_id: restaurant.id }%>
            </li>
            <%= "Nombre de vote: #{restaurant.voters.count}"%>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>
 